module [[ .Module ]]

go [[ .GoVersion ]]
[[ if .Requires ]]
require (
	github.com/crossplane/function-sdk-go [[ .SDKVersion ]]
	github.com/jonasz-lasut/function-wasm/pkg/wasmfn [[ .WasmfnVersion ]]
)
[[ end ]][[ if .WasmfnDir ]]
replace github.com/jonasz-lasut/function-wasm/pkg/wasmfn => [[ .WasmfnDir ]]
[[ end ]]
